.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: -5px;
}

.grid > * {
  margin: 5px;
  overflow: auto;
}

.card {
  position: relative;
  border-radius: 3px;
  border: 1px solid #ddd;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

/* .grid *:first-child {
  background-color: yellow;
}

.grid *:last-child {
  background-color: blue;
} */