body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1024px;
  margin: auto;
  padding: 0 1rem;
}

label {
  margin-bottom: .5rem;
}

input[type=text],
input[type=password],
input[type=number] {
  border: 1px solid #ccc;
  border-radius: 1px;
  padding: .5rem;
  margin-bottom: 1.5rem;
}

input[type=text]:focus-visible,
input[type=password]:focus-visible,
input[type=number]:focus-visible {
  border: 1px solid red;
  outline: none;
} 


input[type="submit"] {
  border: 1px solid #ccc;
  border-radius: 1px;
  padding: .5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

input[type="submit"]:not(:disabled) {
  border-color: #148898;
  background-color: #19A9BF;
  color: white;
}

input[type="submit"]:disabled {
  opacity: .75;
  background-color: #ddd;
}

a {
  cursor: pointer;
}