.header {
  height: 50px;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 11px 0px rgba(0,0,0,0.54);

  padding: 0 1rem;
}

.header * {
  color: white;

}

.header ul {
  display: flex;
  list-style: none;
  margin-right: 2rem;
}

.header ul li:not(:last-child) {
  margin-right: 1rem;
}

.header ul li a {
  padding: .75rem;
  border-radius: 3px;
  background-color: transparent;
  border: none;
  text-decoration: none;

}

.header ul li a:hover {
  background-color: #00000011;
}

.header .user-info * {
  color: #FFFFFF77;
}

.header .user-info *:not(:last-child) {
  margin-right: 1rem;
}

.brand {
  font-size: 1.5rem;
  font-weight: lighter;

}

.flex-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}