.header {
  box-sizing: border-box;
  width: 100%;
  display: flex;

  border-top: 2px solid #000;
  border-bottom: 2px solid #000;

  padding: 10px 80px 10px 10px;
}
.header-logo {
  padding-right: 25px;
}
.title-home {
  padding-right: 25px;
}
.header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
